/*general*/

body {
  color: #000000;
  font-family: 'Red Hat Display';
  background-color: #ffffff;
  font-style: normal;
  margin: 0;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  height: auto;
  min-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  display: inline-flex;
  align-items: flex-start;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #222;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 70px;
}

h2 {
  font-size: 54px;
  font-weight: 500;
  line-height: 70px;
}

h3 {
  font-size: 52px;
  font-weight: 500;
  line-height: 70px;
}

h4 {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
}

h6 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

p {
  color: #555;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

button {
  font-family: 'Red Hat Display';
  font-size: 18px;
  background: #402f2c;
  color: #ffffff;
  border: none;

  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

button:hover {
  background: #6fb587;
  color: #ffffff;
}

svg:hover {
  fill: #6fb587;
  stroke: #6fb587;
  stroke-width: 2;
}

a:hover {
  color: #6fb587;
  text-decoration-line: underline;
  text-underline-position: from-font;
  transition: background 0.3s ease, color 0.3s ease;
}

hr {
  border: 1px solid #eee;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 45px 0 70px;
}

section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
}

/* header */

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  background: #f9f6f5;
  max-width: 1440px;
}

.logo {
  margin-right: 304px;

  color: #222;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 30px; /* 125% */
  text-decoration-line: underline;
  text-underline-position: from-font;
}

.nav-menu {
  gap: 40px;
}

.heder-menu-btn {
  display: none;
  visibility: hidden;
}

.nav-list {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.profile-logo-list {
  gap: 24px;
}

/* main */

.main-photo {
  width: 796px;
  height: 609px;
  flex-shrink: 0;
  position: relative;
}

.top-photo {
  position: absolute;
  right: 0;
  min-width: 50%;
  height: 609px;

  opacity: 1;
  transition: opacity 0.5s;
}

.top-photo.fadeIn {
  opacity: 1;
}
.top-photo.fadeOut {
  opacity: 0;
}

.main-effective {
  background-color: #f9f6f5;
  display: flex;
  flex-direction: column;
  position: relative;
}

.top-blok {
  display: flex;
  position: relative;
  min-height: 609px;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  max-width: 55%;
  z-index: 1;
}

.search-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

.search {
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  padding: 0 10px 0 30px;
  box-sizing: border-box;

  border: none;
}

.search-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  width: 32px;
  height: 32px;
}

.search-icon {
  transform: translateY(-20%);
}

.search-icon:hover {
  fill: #6fb587;
  background-color: #6fb587;
}

.shop-btn {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin-top: 60px;
}

.sviper-btn {
  background: none;
  border: none;
  border-radius: 10px;
  background-color: #f9f6f5;
}

.sviper {
  position: absolute;
  width: 145px;
  height: 138px;
  top: 77%;
  left: 43%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

/* companies */

.companies {
  padding: 130px 0 130px;
}

.company-list {
  display: flex;
  flex-direction: row;
  gap: 117px;
  padding: 42.5px 0;
}

/* product */

.product-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-contain {
  padding-top: 60px;

  display: flex;
  flex-wrap: nowrap;
  gap: 42px;
}

.descr-text {
  width: 715px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.descr-link {
  position: relative;
  color: #222;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; /* 125% */
  text-decoration-line: underline;
  text-underline-position: from-font;
  gap: 8px;

  display: flex;
  align-items: center;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  align-items: center;
}

.elem-btnS {
  display: flex;
  gap: 24px;
}

.elem-btnL,
.elem-btnR {
  padding: 16px 32px;
}

.elem-btnR {
  border: 1px solid #685a5275;
  background: none;
  color: #402f2c;
}

.price {
  color: #222;
  font-size: 30px;
  font-weight: 500;
  line-height: 32px; /* 106.667% */
}

.descr-icon {
  width: 24px;
  height: 24px;
}

.product-elem {
  display: flex;
  border: 1px solid #685a5230;
  flex-direction: column;
}

.elem-desc {
  padding: 32px 20px 32px 32px;
}

/* Composits */
#products {
  padding-bottom: 130px;
}

.composits {
  background: #fdf8f5;
  max-width: 1440px;
}

.walue {
  text-decoration-line: underline;
  text-underline-position: from-font;
  padding-bottom: 30px;
}

.components-container {
  padding: 58px 0;
}

.components {
  display: flex;
  justify-content: space-around;
}

/* About */

.about {
  padding-top: 130px;
  display: flex;
  padding-bottom: 130px;
  flex-direction: column;
  gap: 130px;
}

.about-bloc {
  display: flex;
  gap: 32px;
}

.about-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.show-btn {
  max-width: 150px;
  padding: 16px 32px;
}

.star-list {
  display: flex;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 40px;
}

.speach {
  padding-bottom: 80px;
}

.open {
  position: absolute;
  top: 0;
  left: 0;
}

.comment {
  position: relative;
  padding-left: 17px;
}

.end-comment {
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  left: 46px;
}

.name {
  padding: 0 0 10px 0.2px;
}

.jub-position {
  padding: 0 0 32px 0.2px;
}

.comment-dedails {
  display: flex;
  flex-direction: column;
}

.comment-sviper-btn {
  background: none;
}

.comment-sviper-btn:hover {
  background: #6fb5886e;
}

.comment-sviper-btn>svg:hover {
  background: #6fb5886e;
  fill:#6fb5886e ;
  border-radius: 50%;
}
/* footer */

.footer {
  background: #fafafa;
  padding: 108px 0 52px;
}

.subscribe {
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-text {
  max-width: 350px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-heders {
  display: flex;
}

.footer-logo {
  padding-bottom: 50px;
}

.footer-logo > .logo {
  font-size: 40px;
}

.contact-Us {
  display: flex;
  flex-direction: column;
}

.footer-bootom {
  display: flex;
}

.footer-names {
  padding: 25px 0;
  color: #222;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

.input-wrapper {
  position: relative;
}

.subscribe-mail {
  width: 368px;
  height: 55px;
  border: none;
  padding: 0 0 0 18px;
  font-size: 16px;
}

.subscribe-btn {
  padding: 10px 20px;
  position: absolute;
  font-size: 14px;
  top: 8px;
  right: 8px;
}

.nav-menu-bootom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

address > a {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links > ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

/* tablet device */

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: 60px; /* 125% */
  }

  h2 {
    font-size: 50px;
    font-weight: 500;
    line-height: 60px; /* 125% */
  }

  h3 {
    font-size: 48px;
    font-weight: 500;
    line-height: 60px; /* 125% */
  }

  h4 {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px; /* 150% */
  }

  h6 {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px; /* 133.333% */
  }

  .container,
  section {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-menu {
    margin-top: 10px;
  }

  .company-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sviper {
    background: none;
  }

  .about {
    padding: 0 15px;
    gap: 0;
  }

  .product-contain,
  .about-bloc,
  .product-description {
    flex-direction: column;
  }

  .about-description,
  .about-comments,
  .comment-dedails {
    align-items: center;
    padding-bottom: 30px;
  }

  .speach {
    padding-bottom: 40px;
  }

  .product-actions {
    flex-direction: column;
    gap: 20px;
  }

  .elem-btnL,
  .elem-btnR {
    padding: 10px 18px;
    font-size: 15px;
  }
}

/* phone device */

@media screen and (max-width: 768px) {
  .container,
  section {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .companies {
    padding: 30px 0 30px;
  }
  #products {
    padding-bottom: 30px;
  }

  .top-blok {
    width: 100%;
  }

  h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
  }

  .walue {
    padding-bottom: 15px;
  }

  .top-photo,
  .sviper {
    display: none;
    visibility: hidden;
  }

  .d-flex {
    display: block;
    padding: 20px 0 40px;
  }

  .top-text {
    max-width: 100%;
  }

  .shop-btn {
    margin: 20px 0;
  }

  .head-nav {
    display: flex;
    gap: 50%;
  }

  .logo {
    margin: 0;
  }

  .nav-menu,
  .profile-logo {
    display: none;
    visibility: hidden;
  }

  .heder-menu-btn {
    display: block;
    visibility: visible;
  }
  .descr-text {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .subscribe,
  .footer-menu {
    flex-direction: column;
  }

  .footer-logo {
    padding-bottom: 10px;
  }

  .footer-description {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 320px) {
  .container,
  section {
    max-width: 320px;
  }
}
